# Things to do for today!
### Precondition : download a new excel file from github.com/neebishWorld/DataFiles/
### 1. Read an excel file with pandas 
### 2. Translate all values in English
### 3. Reorder the table
### 4. Drop the unnecessary column and its values
### 5. Set all values in the table as int
### 6. Save it as an excel in the DataFiles directory with your first name

![alt text](./../DataFiles/img01.png "What we are going to do")

## 1. Read an excel file with pandas

In [46]:
# import pandas
import pandas

In [47]:
# read an excel file with pandas
df = pandas.read_excel("./../DataFiles/CCTVs for all districts in Seoul until 20240630.xlsx")

## 2. Translate

In [48]:
# import Translator
from translate import Translator
translator = Translator(to_lang="en", from_lang="ko")

In [49]:
# translate the columns and collect them in a list, eng_columns
eng_columns = list()
for each in df.columns:
    eng_columns.append(translator.translate(each))

In [50]:
# Rename the columns
df = df.rename(columns=dict(zip(df.columns, eng_columns)))

In [51]:
# translate all values in Classification column
eng_values = list()
for each in df.Classification:
    eng_values.append(translator.translate(each))

In [52]:
# switch the values
df['Classification'] = eng_values

In [53]:
df

,Number,Classification,sum,CCTV installed before 2016,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,NaN,Total,102380,11692,8225,10865,10652,12854,11838,9558,9218,13919,3559
1,1.0,Jongno-gu,2290,230,100,140,140,66,233,85,219,919,158
2,2.0,Zhonggu,3021,376,220,366,381,155,357,414,137,135,480
3,3.0,Yongsan-gu,3300,106,295,491,147,335,473,486,413,492,62
4,4.0,Seongdong-gu,4514,542,278,939,457,640,483,366,233,471,105
5,5.0,Gwangjin-gu,4156,403,42,666,460,712,191,740,273,340,329
6,6.0,Dongdaemun-gu,3446,0,657,670,199,215,229,226,317,755,178
7,7.0,Jungnang-gu,4512,479,153,170,215,1074,976,507,294,644,0
8,8.0,Seongbuk-gu,4543,320,380,382,758,662,206,398,353,414,670
9,9.0,Gangbuk-gu,3584,44,196,1,352,942,552,410,658,376,53
10,10.0,Dobong-gu,2378,3,68,80,152,149,156,552,557,661,0
11,11.0,Nowon-gu,3111,592,304,160,207,318,383,213,161,626,147
12,12.0,Eunpyeong-gu,5027,841,493,361,579,979,386,520,481,387,0
13,13.0,Seodaemun-gu,3799,505,304,546,364,401,613,425,213,422,6
14,14.0,Mapo-gu,3361,244,446,368,364,494,298,177,124,837,9
15,15.0,Yangcheon-gu,4447,220,418,566,827,321,352,347,386,1010,0
16,16.0,Gangseo-gu,3627,491,165,415,259,454,362,441,601,424,15
17,17.0,Guro-gu,5449,607,332,535,537,780,749,683,337,497,392
18,18.0,Geumcheon-gu,3170,92,130,196,539,366,514,207,304,822,0
19,19.0,Yeongdeungpo-gu,4697,727,284,356,673,66,1305,288,433,434,131
20,20.0,Dongjak-gu,3315,485,228,267,320,312,433,44,362,446,418
21,21.0,Gwanak-gu,5842,1025,607,675,663,889,404,549,135,602,293
22,22.0,Seocho-gu,5395,779,514,1022,422,339,419,565,878,457,0
23,23.0,Gangnam-gu,7721,1486,1280,981,735,787,913,505,588,446,0
24,24.0,Songpa-gu,4126,370,129,239,525,1042,237,148,380,943,113
25,25.0,Gangdong-gu,3549,725,202,273,377,356,614,262,381,359,0

## 3. Reorder the table

In [54]:
df_shifted = df.shift(-1).reset_index(drop=True)

In [55]:
df_shifted.loc[len(df_shifted)-1] = df.loc[0]

In [56]:
df = df_shifted

## 4. Drop the column

In [57]:
# drop the specific column 
df = df.drop('Number', axis=1)

In [58]:
df.head()

,Classification,sum,CCTV installed before 2016,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Jongno-gu,2290.0,230.0,100.0,140.0,140.0,66.0,233.0,85.0,219.0,919.0,158.0
1,Zhonggu,3021.0,376.0,220.0,366.0,381.0,155.0,357.0,414.0,137.0,135.0,480.0
2,Yongsan-gu,3300.0,106.0,295.0,491.0,147.0,335.0,473.0,486.0,413.0,492.0,62.0
3,Seongdong-gu,4514.0,542.0,278.0,939.0,457.0,640.0,483.0,366.0,233.0,471.0,105.0
4,Gwangjin-gu,4156.0,403.0,42.0,666.0,460.0,712.0,191.0,740.0,273.0,340.0,329.0

## 5. Set all values in the table as int

In [59]:
for each in df.columns[1:]:
    df[each] = df[each].astype(int)

In [60]:
df

,Classification,sum,CCTV installed before 2016,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Jongno-gu,2290,230,100,140,140,66,233,85,219,919,158
1,Zhonggu,3021,376,220,366,381,155,357,414,137,135,480
2,Yongsan-gu,3300,106,295,491,147,335,473,486,413,492,62
3,Seongdong-gu,4514,542,278,939,457,640,483,366,233,471,105
4,Gwangjin-gu,4156,403,42,666,460,712,191,740,273,340,329
5,Dongdaemun-gu,3446,0,657,670,199,215,229,226,317,755,178
6,Jungnang-gu,4512,479,153,170,215,1074,976,507,294,644,0
7,Seongbuk-gu,4543,320,380,382,758,662,206,398,353,414,670
8,Gangbuk-gu,3584,44,196,1,352,942,552,410,658,376,53
9,Dobong-gu,2378,3,68,80,152,149,156,552,557,661,0
10,Nowon-gu,3111,592,304,160,207,318,383,213,161,626,147
11,Eunpyeong-gu,5027,841,493,361,579,979,386,520,481,387,0
12,Seodaemun-gu,3799,505,304,546,364,401,613,425,213,422,6
13,Mapo-gu,3361,244,446,368,364,494,298,177,124,837,9
14,Yangcheon-gu,4447,220,418,566,827,321,352,347,386,1010,0
15,Gangseo-gu,3627,491,165,415,259,454,362,441,601,424,15
16,Guro-gu,5449,607,332,535,537,780,749,683,337,497,392
17,Geumcheon-gu,3170,92,130,196,539,366,514,207,304,822,0
18,Yeongdeungpo-gu,4697,727,284,356,673,66,1305,288,433,434,131
19,Dongjak-gu,3315,485,228,267,320,312,433,44,362,446,418
20,Gwanak-gu,5842,1025,607,675,663,889,404,549,135,602,293
21,Seocho-gu,5395,779,514,1022,422,339,419,565,878,457,0
22,Gangnam-gu,7721,1486,1280,981,735,787,913,505,588,446,0
23,Songpa-gu,4126,370,129,239,525,1042,237,148,380,943,113
24,Gangdong-gu,3549,725,202,273,377,356,614,262,381,359,0
25,Total,102380,11692,8225,10865,10652,12854,11838,9558,9218,13919,3559

## Save it

In [61]:
df.to_excel("./../DataFiles/Adam.xlsx", index=False)