In [219]:
# import pandas and read your csv file with it
import pandas as pd

df = pd.read_csv("./../DataFiles/CCTVs for all districts in Seoul until 20240630.csv", encoding="utf-8")

In [220]:
# Renaming columns
for each in range(len(df.columns)):
    df.rename(columns={df.columns[each]:df.loc[0].iloc[each]}, inplace=True)

In [221]:
# drop the first row (duplicated)
df = df.drop(0)

In [222]:
# filter the unnecessary columns
df=df[[each for each in df.columns[1:13]]]

In [223]:
# Handle the nan issue in the first row 
target = list(df.loc[1])[:-1]
target.insert(0, '서울')
df.loc[1] = target

In [224]:
df.head()

,구분,총 계,2016년 이전 설치된 CCTV,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,2024년
1,서울,"102,380","11,692","8,225","10,865","10,652","12,854","11,838","9,558","9,218","13,919","3,559"
2,종로구,"2,290",230,100,140,140,66,233,85,219,919,158
3,중 구,"3,021",376,220,366,381,155,357,414,137,135,480
4,용산구,"3,300",106,295,491,147,335,473,486,413,492,62
5,성동구,"4,514",542,278,939,457,640,483,366,233,471,105