In [33]:
# import pandas and read your csv file with it
import pandas as pd

df = pd.read_csv("./../DataFiles/CCTVs for all districts in Seoul until 20240630.csv", encoding="utf-8")

In [34]:
# In my system the number is 60, which means that if the DataFrame contains more than 60 rows. You may change it. 
pd.options.display.max_rows

60

In [35]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,순번,구분,총 계,2016년 이전 설치된 CCTV,2016년,2017년,2018년,2019년,2020년,2021년,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,계,"102,380","11,692","8,225","10,865","10,652","12,854","11,838","9,558","9,218",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,종로구,"2,290",230,100,140,140,66,233,85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,중 구,"3,021",376,220,366,381,155,357,414,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,용산구,"3,300",106,295,491,147,335,473,486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,성동구,"4,514",542,278,939,457,640,483,366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5,광진구,"4,156",403,42,666,460,712,191,740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6,동대문구,"3,446",0,657,670,199,215,229,226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,7,중랑구,"4,512",479,153,170,215,"1,074",976,507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8,성북구,"4,543",320,380,382,758,662,206,398,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9,강북구,"3,584",44,196,1,352,942,552,410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10,도봉구,"2,378",3,68,80,152,149,156,552,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11,노원구,"3,111",592,304,160,207,318,383,213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12,은평구,"5,027",841,493,361,579,979,386,520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,13,서대문구,"3,799",505,304,546,364,401,613,425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,14,마포구,"3,361",244,446,368,364,494,298,177,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,15,양천구,"4,447",220,418,566,827,321,352,347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,16,강서구,"3,627",491,165,415,259,454,362,441,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,17,구로구,"5,449",607,332,535,537,780,749,683,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,18,금천구,"3,170",92,130,196,539,366,514,207,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,19,영등포구,"4,697",727,284,356,673,66,"1,305",288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,20,동작구,"3,315",485,228,267,320,312,433,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,21,관악구,"5,842","1,025",607,675,663,889,404,549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,22,서초구,"5,395",779,514,"1,022",422,339,419,565,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,23,강남구,"7,721",1486,1280,981,735,787,913,505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,24,송파구,"4,126",370,129,239,525,"1,042",237,148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,25,강동구,"3,549",725,202,273,377,356,614,262,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# drop NaN rows
newDf = df.dropna()

In [37]:
newDf

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 1, Unnamed: 2, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, (단위 : 대, '24.6.30.일 기준), Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25]
Index: []

[0 rows x 26 columns]

In [38]:
# Explain what just happened in your words.

In [39]:
# change the

In [40]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', '(단위 : 대, '24.6.30.일 기준)',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [45]:
df.replace('Unnamed: 0', 'X')

In [46]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,순번,구분,총 계,2016년 이전 설치된 CCTV,2016년,2017년,2018년,2019년,2020년,2021년,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,계,"102,380","11,692","8,225","10,865","10,652","12,854","11,838","9,558","9,218",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,종로구,"2,290",230,100,140,140,66,233,85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,중 구,"3,021",376,220,366,381,155,357,414,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,용산구,"3,300",106,295,491,147,335,473,486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,성동구,"4,514",542,278,939,457,640,483,366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5,광진구,"4,156",403,42,666,460,712,191,740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6,동대문구,"3,446",0,657,670,199,215,229,226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,7,중랑구,"4,512",479,153,170,215,"1,074",976,507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8,성북구,"4,543",320,380,382,758,662,206,398,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9,강북구,"3,584",44,196,1,352,942,552,410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10,도봉구,"2,378",3,68,80,152,149,156,552,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11,노원구,"3,111",592,304,160,207,318,383,213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12,은평구,"5,027",841,493,361,579,979,386,520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,13,서대문구,"3,799",505,304,546,364,401,613,425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,14,마포구,"3,361",244,446,368,364,494,298,177,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,15,양천구,"4,447",220,418,566,827,321,352,347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,16,강서구,"3,627",491,165,415,259,454,362,441,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,17,구로구,"5,449",607,332,535,537,780,749,683,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,18,금천구,"3,170",92,130,196,539,366,514,207,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,19,영등포구,"4,697",727,284,356,673,66,"1,305",288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,20,동작구,"3,315",485,228,267,320,312,433,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,21,관악구,"5,842","1,025",607,675,663,889,404,549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,22,서초구,"5,395",779,514,"1,022",422,339,419,565,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,23,강남구,"7,721",1486,1280,981,735,787,913,505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,24,송파구,"4,126",370,129,239,525,"1,042",237,148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,25,강동구,"3,549",725,202,273,377,356,614,262,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN