# 1. create a lambda function that takes two arguments and return the sum

In [3]:
# complete the code
f1 = lambda x, y: x+y

SyntaxError: invalid syntax (1159268793.py, line 2)

In [4]:
f1(3,15)

NameError: name 'f1' is not defined

### 2. sort the list below based on the scores.

In [5]:
target = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

In [6]:
# complete the code
target.sort(key=lambda x:x[1])

In [7]:
target

[('English', 88), ('Maths', 97), ('Science', 90), ('Social sciences', 82)]

In [8]:
# Sort the list of dictionaries ('models') based on the value associated with the 'color' key in each dictionary
# Uses the 'sorted()' function with a lambda function as the sorting key to sort based on the 'color' value

In [9]:
models = [
    {'make': 'Nokia', 'model': 216, 'color': 'Black'},
    {'make': 'Mi Max', 'model': '2', 'color': 'Gold'},
    {'make': 'Samsung', 'model': 7, 'color': 'Blue'}
]

In [10]:
# complete the code
result = sorted(models, key=lambda x: x['color'])

TypeError: sorted expected 1 argument, got 0

In [11]:
result

NameError: name 'result' is not defined

### 3. square and cube every number in a given list of integers using Lambda.

In [12]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# complete the code
outcome = list(map(lambda x: x ** 2, nums))

SyntaxError: invalid syntax (2592173502.py, line 2)

In [14]:
outcome

NameError: name 'outcome' is not defined

In [15]:
# complete the code
outcome = list(map(lambda x: x ** 3, nums))

SyntaxError: invalid syntax (2592173502.py, line 2)

In [16]:
outcome

NameError: name 'outcome' is not defined

### 4. Check all the elements' types in the list and return them as a list. Count that elements whose types are not int or float and return it at the end.

In [17]:
given = ["Do it by yourself", 1234, 3.41, True, print(), 1111, 2.141414, 8.00, list(), tuple(), dict(), set()]

In [18]:
# complete the code
answer = list(map(lambda x: type(x), given))

SyntaxError: invalid syntax (448763376.py, line 2)

In [19]:
answer

NameError: name 'answer' is not defined

In [20]:
# complete the code
nextAnswer = list(filter(lambda x: x != float, answer))

SyntaxError: invalid syntax (2817450017.py, line 2)

In [21]:
nextAnswer

NameError: name 'nextAnswer' is not defined

In [22]:
# complete the code
secondAnswer = list(filter(lambda x: x != int, nextAnswer))

SyntaxError: invalid syntax (2134500076.py, line 2)

In [23]:
secondAnswer

NameError: name 'secondAnswer' is not defined

In [24]:
# complete the code
thirdAnswer = list(map(lambda x:1, secondAnswer))

SyntaxError: invalid syntax (1944294936.py, line 2)

In [50]:
thirdAnswer

[1, 1, 1, 1, 1, 1, 1]

In [51]:
from functools import reduce

In [52]:
# complete the code
finalAnswer = reduce(lambda x, y:x+y, thirdAnswer,0)

In [53]:
finalAnswer

7

### 5. Do the problem 4 with one lambda function. You may need to use more than one inner lambda function

In [54]:
# complete the code
reduce(lambda x, y:x+y, list(map(lambda x:1, list(filter(lambda x: x != int, list(filter(lambda x: x != int, list(filter(lambda x: x != float, list(map(lambda x: type(x), given)))))))))),0)

7